extends layouts/main
include mixins/profileBlock

block content
    each item in profiles
        +profileBlock({
            fileUrl : item.fileUrl,
            title : item.title,
            name : item.name,
            description : item.description,
            views : item.views,
            id : item.id
        })
